@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    gap: 12px;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bs-body-bg);
}

header {
    text-align: center;
}
#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem; /* Aumentar o tamanho da fonte */
}

.container {
    margin-top: 30px;
    padding: 0 15px; /* Adicionar padding para evitar que o conteúdo encoste nas bordas */
}

.pad{
    display: flex;
    justify-content: center;
    gap: 10px; /* Adicionar espaçamento entre os botões */
}

.dicesBtn{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap; /* Permitir que os botões quebrem para a próxima linha em telas pequenas */
}

.display{
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap; /* Permitir que os elementos quebrem para a próxima linha em telas pequenas */
}

.text {
    display: flex;
    justify-content: center;
    text-align: center; /* Centralizar o texto */
    flex-direction: column; /* Organizar o conteúdo em coluna */
    gap: 8px; /* Espaçamento entre os elementos */
    padding: 0 15px; /* Adicionar padding para evitar que o texto encoste nas bordas */
}

.text h3 {
    font-size: 1.5rem; /* Tamanho padrão para o título */
    margin: 0; /* Remover margens padrão */
}

.pad img {
    margin-left: 10px;
    margin-bottom: 13px;
    width: 40px; /* Reduzir o tamanho da imagem */
    filter: brightness(50%);
}

.pad .config {
    background:none;
    border: none;
}
.config:hover {
    transform: scale(1.1);
}

.pad-display {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffff;
    padding: 10px;
    gap: 10px;

    justify-content: center;
    border: solid black 2px;
    z-index: 2;
}
.pad-display input {
    width: 3rem;
    text-align: center;
    margin: 3px;
}
.pad-display button {
    margin-top: 2px;
    padding: 5px;
    width: 4rem;
    height: 2.1rem;
}
.pad-display #pad-title {
    margin-top: 25px;
    height: 5px;
}

.body-display {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#close-display {
    position: absolute; 
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: #ff4444;
    border: none; 
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
#close-display:hover {
    color: #cc0000; 
    transform: scale(0.95);
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

hr {
    opacity: 1;
    border: 2;
}


#cache {
    position: relative;
    color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15rem; 
    margin-top: -3rem;
    margin-left: 0; 
    /* padding: 0 10px;  */
    word-wrap: break-word; 
} 
#cache #dice-img {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
#cache p {
    color: #fff;
}
#dice-img img {
    width: 2rem;
    height: 2rem;
}
#dice-img #joaninha {
    width: 2.2rem;
}
#cache b {
    margin-left: 10px;
}


#limpar{
    width: 100px;
    margin-bottom: 12px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
#limpar:hover{
    border-color: rgb(248, 99, 99);
}

#img-d6, #img-d10, #img-d12 {
    display: flex;
    justify-content: center;
    cursor: pointer;
    filter: contrast(175%) brightness(3%);
    max-width: 80px; 
}
#img-d6:hover, #img-d10:hover, #img-d12:hover {
    transform: scale(1.05);
}

#cervo, #joaninha, #coruja, #nada{
    display: flex;
    justify-content: center;
    animation: shake 0.5s;
    width: 95px;
    height: 95px;
    border: solid 2px black;
}
#joaninha{
    width: 110px;
}

/* animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
/* responsividade */
@media (max-width: 399px) {
    #title {
        font-size: 1.5rem; 
    }

    #img-d6, #img-d10, #img-d12 {
        width: 60px;
        height: 60px;
    }

    #limpar {
        width: 80px;
    }

    .display {
        flex-direction: column;
        gap: 8px;
    }
    #cervo, #joaninha, #coruja, #nada{
        width: 80px; 
        height: 80px;
    }
}